:root {
  // 这里可以设置你自定义的颜色变量
  // 这个是element主要按钮:active的颜色，当主题更改后此变量的值也随之更改
  --el-color-primary-dark: #0d84ff;
  // element plus 2.1.0 禁用文本色值和正常文本色值无法区分问题
  --el-text-color-disabled: #ccc;
  --el-border-radius-base: 0;
  --el-font-size-base: 12px;
}

// 表格表头和表体未对齐
.el-table__header col[name="gutter"] {
  display: table-cell !important;
}

.el-scrollbar__thumb {
  background-color: var(--el-color-primary) !important;
}

.el-table__header {
  height: 36px;
  font-size: 12px;
}

.el-table__body td {
  height: 36px;
  // font-size: 13px;
}
